/*---------------Reset html/body---------------*/
html{
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: #E5E5E5;
}


svg{
    width: 2rem;
}


/* page separator */
.separator{
    height: 70px;
}

/*-----------------Banner----------------*/

.banner{
    background-color: #000;
    display: grid;
    grid-template-columns: 10fr 0.5fr;
    align-items: center;
    
}

.banner-text{
    padding: 8px 0 7px 0;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding-left: 5%;
}
/*svg button to close the banner*/
.banner-close{
    background: none;
    border:none;
    cursor: pointer;
    color: #fff;
}




/*------------------Navbar--------------------*/

/* general data navbar */
.container-navbar{
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #fff;
}

.container-navbar svg{
    display: none;
}

/* menu management */
ul{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    justify-items: end;
    gap: 2rem;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

.nav-home, .nav-listing{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.8rem;
}

/* logo management */
.logo-container{
    margin: 0 auto;
}

.logo-container a{
    text-decoration: none;
}

.logo{ 
    border: 1px dashed #000;
    padding: 3rem 2rem;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 1.9rem;
}



/*-----------Footer---------------*/


/*slider*/

.slider-container{
    height: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
}

.slider{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;

    overflow-x: auto;
    scrollbar-width: none; /* for Firefox */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */ 
}

.slider::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.slider-text{
    width: 150px;
}

.slider-item img{
    width: 20px;
    height: 20px;
}

/*General informations  newsletter, help and company*/
.general-informations{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #fff;
    height: 450px;
    align-items: center;
    justify-items: center;
}

.container-newsletter{
    margin: 0 20%;
}

h3{
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0;
}

.newsletter h3{
    margin-bottom: 60px;
}

/* management of the newsletter button */
.newsletter button{
    height: 4.8rem;
    width: 12rem;
    background-color: #9D9D9D;
    color: #fff;
    border: none;
    cursor: pointer;
}

.newsletter button:hover{
    background-color: #878787;
}

.newsletter button svg{
    width: 1.8rem;
    margin-left: 10px;
    transform: scale(2);
    position: relative;
    top: 3px;
}

/* management of the newsletter text */
.newsletter p{
    font-weight: 400;
    font-size: 1rem;
    color: #9D9D9D;
    margin-top: 40px;
}

.newsletter p a{
    text-decoration: none;
    color: #9D9D9D;
}

.newsletter p a:hover{
    color: black;
}

/* management of the textual input of the newsletter */

form input {
    border: none;
    padding: 18px 0;
    width: 250px;
    outline: none;
    font-size: 14px;
    margin-right: 15px;
    background:
      linear-gradient(90deg, #000, #000) center bottom/0 0.1rem no-repeat,
      linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.1rem no-repeat;
    transition: background-size 0.3s ease;
  }
 
  form input:focus {
    background-size: 100% 0.1rem;
  }



/* list of links related to help and company */

.help h3, .company h3{
    font-size: 1.6rem;
    display: inline;
}

.help ul, .company ul{
    display:block;
    font-size: 1.6rem;
    font-weight: 400;
	list-style-type: none;
}

.help li, .company li{
    padding: 10px 0;
}

.help a, .company a{
    color: #000;
    text-decoration: none;
}

.help img, .company img{
    width: 20px;
    height: 20px;
    transform: translateY(5px);
    margin-right: 17px;
}



/*social media*/
.social-media{
    background-color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.social-media img{
    width: 20px;
    height: 20px;
} 

 /*terms and conditions*/
 .terms-and-conditions{ 
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    align-content: center;
}

.terms-and-conditions a{
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}


/* ----------------------Modal------------------------ */
.modal {
    display: none;
}
  
.modal.is-open {
    display: block;
}

.modal header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-backdrop{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper{
    background-color: #E5E5E5;
    border-radius: 20px;
    padding: 20px;
    margin: 0 10%;
}

.modal h2{
    font-weight: 700;
    font-size: 3.2rem;
    margin: 0;
}

.modal p{
    font-weight: 400;
    font-size: 1.6rem;
    max-width: 445px;
    margin: 30px 20px 30px 0;
}

.modal input{
    margin-bottom: 20px;
}

.modal button{
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    transition: transform 0.5s ease;
}  

.modal .modal-btnclose{
    transform: scale(2);
}

.modal .modal-btnclose:hover{
    transform: scale(2.5);
}

.modal button:hover{
    transform: scale(1.1);
}

.modal .send-email{
   height: 4.8rem;
    width: 12rem;
    background-color: #9D9D9D;
    color: #fff;
} 

.modal .send-email:hover{
    background-color: #878787;
}



/* button management in newsletters for medium devices */
@media only screen and (max-width : 1308px) {
    .newsletter button{
        margin-top: 40px;
    }
    .newsletter p{
        margin-top: 20px;
    }
    
    .newsletter h3{
        margin-bottom: 30px;
    }
} 



/* media query for small Devices */
@media only screen and (max-width : 767px) {

    /* navbar*/
    .container-navbar{
        height: 6.5rem;
    }

    .container-navbar svg{
        display: inline-block;
    }

    .nav-home span, .nav-listing span{
        display: none;
    }

    .logo{ 
        padding: 0.8rem 2rem;
    }


     /* general informations newsletter */

     .general-informations{
        display: inline-block;
        height: auto;
        padding-bottom: 24px;
    }

    .container-newsletter {
        margin: 5%;
    }

    .newsletter h3{
        margin-bottom: 20PX;
    }


    /* help and company accordion */
    .accordion-label{
        padding: 14px 5%;
        background-color: #F5F5F5;
        cursor: pointer;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
        position: relative;
        
    }

    .accordion-label:hover{
        background-color: #ebebeb;
    }

    .accordion-label::before{
        content: "+";
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 3rem;
    }

    .accordion ul{
        overflow: hidden;
        margin: 0;
        max-height: 0;
        transition: max-height 0.5s ease;
    }
    
    .accordion.active ul{
        height: auto; 
        /*transition non si applica se il valore è auto, con un valore fisso si.
        soluzione: uso max-height*/
        max-height: 500px;
    } 

    .accordion.active .accordion-label::before{
        content: "-";
        font-size: 5rem;
     }


    /*social media*/
     .social-media span{
        flex-basis: 100%;
    }

}


/*terms and conditions for small devices*/
@media only screen and (max-width : 547px) {
    .terms-and-conditions{ 
        height: 110px;
    }
    .terms-and-conditions span{
       flex-basis: 100%;
    }
}





