html{
    box-sizing: border-box;
    font-size: 10px;
    Font-family: Roboto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
}

/*----------Banner------------*/

.banner{
    background-color: #000;
    display: grid;
    grid-template-columns: 10fr 0.5fr;
    align-items: center;
    
}

.banner-text{
    padding: 8px 0 7px 0;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding-left: 5%;
}

.banner-close{
    background: none;
    border:none;
    cursor: pointer;
    color: #fff;
}

.banner-close svg{
    width: 2rem;
}

/*----------Navbar------------*/

.container-navbar{
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.container-navbar svg{
    display: none;
}

ul{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    justify-items: end;
    gap: 2rem;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
    
}

.nav-home, .nav-listing{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.8rem;
}


.logo-container{
    margin: 0 auto;
}

.logo-container a{
    text-decoration: none;
}

.logo{ 
    border: 1px solid #000;
    border-style: dashed;
    padding: 3rem 2rem;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
}


@media only screen and (max-width : 767px) {
    
    .container-navbar{
        height: 6.5rem;
    }

    .container-navbar svg{
        display: inline-block;
        width: 2rem;
    }

    .nav-home span, .nav-listing span{
        display: none;
    }

    .logo{ 
        padding: 2.1rem 2rem;
    }
}

@media only screen and (max-width : 385px) {
    
    .logo{ 
        padding: 1rem 2rem;
    }
}